body {font-size: 10 pt; font-family: tahoma; color:#000000; font-weight: normal;}
p{font-size:10 pt; font-family:tahoma; color:#000000; font-weight: normal;}
td{font-size:10 pt; font-family:tahoma; color:#000000; font-weight: normal;}


.text_menu{font-family:tahoma, arial; font-size:10pt; color:#ffffff; font-weight:bold;}
.text_black10{font-family:tahoma, arial; font-size:10pt; color:#000000;font-weight: normal;}
.text_black10b{font-family:tahoma, arial; font-size:10pt; color:#000000;font-weight: bold;}
.text_blue12b{font-family:tahoma, arial; font-size:12pt; color:#3c469e;font-weight: bold;}
.text_blue10b{font-family:tahoma, arial; font-size:10pt; color:#3c469e;font-weight: bold;}


a:link{font-family: tahoma, arial; font-size:10pt; color:#ffffff; font-weight:bold; text-decoration:none;}
a:visited{font-family: tahoma, arial; font-size:10pt; color:#ffffff;font-weight:bold; text-decoration:none;}
a:activ{font-family: tahoma, arial; font-size:10pt; color:#ffffff; font-weight:bold; text-decoration:none;}
a:hover{font-family: tahoma, arial; font-size:10pt; color:#ec0000; font-weight:bold; text-decoration:none;}


.b:link{font-family: tahoma, arial; font-size:10pt; color:#69658b; font-weight:bold; text-decoration:underline;}
.b:visited{font-family: tahoma, arial; font-size:10pt; color:#69658b; font-weight:bold; text-decoration:underline;}
.b:activ{font-family: tahoma, arial; font-size:10pt; color:#69658b; font-weight:bold; text-decoration:underline;}
.b:hover{font-family: tahoma, arial; font-size:10pt; color:#ec0000; font-weight:bold; text-decoration:underline;}