@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic-ext,latin-ext,cyrillic);

html {
  background: transparent !important;
}
body {
  background: transparent !important;
  color: #E0DED6 !important;
  font-family: 'PT Sans' !important;
}

.b-flash-player {
  margin-bottom: 0px !important;
  background-color: #000;
}

.right-block{
  display: none;
}

/* controls */
.b-video-player__controls {
  overflow: hidden;
  background: #101117;
  background: rgba(0,0,0,0.4);
  color: #e7e7e2;
  font-family: Arial;
  font-size: 13px;
  padding: 15px;
}

/* quality */
.b-video-player__language,
.b-video-player__quality {
  color: #e7e7e2;
}
.b-video-player__language {
  width: 300px !important;
}
.b-video-player__quality a.quality,
.b-video-player__language a.language,
.b-video-player__language .dd .dd__t {
  display: inline-block;
  background: none;
  color: #e0ded6 !important;
  cursor: pointer;
  padding: 0 !important;
  margin: 0 4px;
  text-align: center;
  text-decoration: none !important;
  border-bottom: 1px dashed;
}
.b-video-player__language a.language,
.b-video-player__language .dd .dd__t{
  width: auto !important;
}
.b-video-player__quality a.active,
.b-video-player__language a.active,
.b-video-player__language dd.active .dd__t {
  color: #ffd300 !important;
  border: none;
  font-weight: bold;
}
.b-video-player__language .dd__catlist,
.b-video-player__language .dd__t:after {
  display: none !important;
}
.b-video-player__language .dd {
  margin: 0 !important;
}
.b-video-player__language .dd__t {
}
.b-video-player__language .dd.active {
  background: none !important;
  padding: 0 !important;
}

/* copyright */
.b-tech__corner {
  display: none !important;
}
.b-tech {
  background: none !important;
  font-family: 'Arial';
  font-size: 12px;
  padding: 15px 0 10px;
  color: #737373 !important;
  margin-top: 0 !important;
}
.b-tech a {
  color: #737373 !important;
  font-weight: normal !important;
  text-decoration: underline !important;
}
