html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #050505;
  min-width: 960px;
  color: #cbcbcb;
  font-family: Tahoma;
  font-size: 11px;
  margin-bottom: 100px;
}

.header-contacts {
  height: 120px;
  background: url(../img/bg_gradient-line.png) center 75px no-repeat;
}

.header-contacts p {
  margin: 0 auto;
  width: 780px;
  text-align: right;
}

.header-contacts p:first-child {
  padding-top: 52px;
  margin-bottom: 18px;
}

.header-slider-wrap {
  min-height: 333px;
  background: url(../img/bg_header-gallery.png) center top no-repeat;
}

.header-slider {
  height: 300px;
  margin: 0 auto 12px;
  width: 840px;
  background: url(../img/bg_header-slider.png) center top no-repeat;
}

.owl-carousel-wrap {
  width: 772px;
  height: 250px;
  position: relative;
  left: 35px;
  top: 29px;
}

p {
  text-align: center;
  line-height: 14px;
}

.warning {
  color: #ff0404;
}

.sell-objects {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 12px;
  padding-bottom: 25px;
}

.sell-card {
  width: 433px;
  border: 1px solid #64583b;
  padding: 13px 11px;
}

.sell-card:first-child {
  float: left;
}

.sell-card:last-child {
  float: right;
}

.sell-card img {
  border: 1px solid #bba46a;
}

.sell-card-image {
  float: left;
}

.sell-card-info {
  margin-left: 230px;
}

.sell-card-info p {
  margin-bottom: 16px;
}

.sell-card-info a {
  color: #e9ba3d;
  text-decoration: none;
}

.sell-card-info a:hover {
  text-decoration: underline;
}

.sell-card-header,
.sell-card-price {
  font-size: 14px;
}

.sell-card-gallery {
  width: 100%;
  clear: left;
  padding-top: 4px;
  font-size: 0;
}

.sell-card-gallery img {
  display: inline-block;
}

.sell-card-gallery a {
  display: inline-block;
  margin-right: 35px;
  margin-bottom: 13px;
}

.sell-card-gallery a:nth-child(4n) {
  margin-right: 0;
}

.footer {
  background: url(../img/bg_gradient-line.png) center top no-repeat;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer p {
  padding-top: 24px;
}